/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}
body {
  -webkit-touch-callout: none;
  /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;
  /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;
  /* prevent copy paste, to allow, change 'none' to 'text' */
  background-color: #E4E4E4;
  background-image: linear-gradient(top, #a7a7a7 0%, #e4e4e4 51%);
  background-image: -webkit-linear-gradient(top, #a7a7a7 0%, #e4e4e4 51%);
  background-image: -ms-linear-gradient(top, #a7a7a7 0%, #e4e4e4 51%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #a7a7a7), color-stop(0.51, #e4e4e4));
  background-attachment: fixed;
  font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  height: 100%;
  margin: 0px;
  padding: 0px;
  width: 100%;
}
h1 {
  font-size: 24px;
  font-weight: normal;
  margin: 0px;
  overflow: visible;
  padding: 0px;
  text-align: center;
}
.event {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  color: #FFFFFF;
  font-size: 12px;
  margin: 0px 30px;
  padding: 2px 0px;
}
.event.listening {
  background-color: #333333;
  display: block;
}
.event.received {
  background-color: #4B946A;
  display: none;
}
@keyframes fade {
  from {
    opacity: 1.0;
  }
  50% {
    opacity: 0.4;
  }
  to {
    opacity: 1.0;
  }
}
@-webkit-keyframes fade {
  from {
    opacity: 1.0;
  }
  50% {
    opacity: 0.4;
  }
  to {
    opacity: 1.0;
  }
}
.blink {
  animation: fade 3000ms infinite;
  -webkit-animation: fade 3000ms infinite;
}
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
html {
  font-size: 50px;
}
body {
  background: #FFFFFF;
  font-size: 12px;
  -webkit-overflow-scroll: touch;
}
.main {
  height: 100%;
}
.menu {
  display: none;
}
.container {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 100;
}
.container .player {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 100;
  pointer-events: none;
  transition: all 100ms;
  flex-direction: column;
  /*-webkit-backface-visibility: hidden;*/
  /*（设置进行转换的元素的背面在面对用户时是否可见：隐藏）*/
  /*
    -webkit-transform-style: preserve-3d; */
  /*（设置内嵌的元素在 3D 空间如何呈现：保留 3D ）*/
  /*进度控制*/
  /*音乐信息*/
}
.container .player .playerContent {
  width: 100%;
  height: 100%;
  background-color: #000;
  position: relative;
  overflow: hidden;
  opacity: 1;
  z-index: 105;
  pointer-events: auto;
  transition: all 220ms;
}
.container .player .playerContent .album_bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  pointer-events: none;
  color: #000;
  background-color: #000;
  background-image: url('../img/X.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-filter: blur(25px);
}
.container .player .playerContent .player-header {
  width: 100%;
  height: 1rem;
  line-height: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  z-index: 106;
  visibility: hidden;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 91%, from(#40403f), to(transparent));
  transition: opacity 200ms;
  transform: translate3d(0, 0, 0);
}
.container .player .playerContent .player-header .player-back {
  width: 100%;
  height: 100%;
  flex: 1;
  text-align: left;
}
.container .player .playerContent .player-header .player-back .icon-playerHrader-back {
  width: 0.4rem;
  height: 0.4rem;
  vertical-align: middle;
  margin-left: 20%;
}
.container .player .playerContent .player-header .player-Page-tag {
  flex: 3;
}
.container .player .playerContent .player-header .player-similar {
  flex: 1;
}
.container .player .playerContent ul {
  width: 22.5rem;
  height: inherit;
  padding: 0;
  margin: 0;
  overflow: hidden;
  list-style: none;
  transform: translate3d(-7.5rem, 0, 0);
}
.container .player .playerContent ul li {
  width: 7.5rem;
  height: 1000px;
  float: left;
}
.container .player .playerContent .myList {
  background-color: transparent;
  padding-top: 1rem;
  padding-left: 0.5rem;
  box-sizing: border-box;
}
.container .player .playerContent .myList .mylist_item {
  width: 95%;
  height: 1.2rem;
  position: relative;
  color: #fff;
  text-align: left;
  padding-bottom: 0.5rem;
}
.container .player .playerContent .myList .mylist_item .m_title {
  height: 0.6rem;
  line-height: 0.6rem;
  font-size: 0.38rem;
}
.container .player .playerContent .myList .mylist_item .m_author {
  height: 0.6rem;
  line-height: 0.6rem;
  font-size: 0.20rem;
}
.container .player .playerContent .myList .mylist_item .m_time {
  position: absolute;
  right: 0;
  top: 0.3rem;
}
.container .player .playerContent .album {
  background-color: transparent;
}
.container .player .playerContent .lyrics {
  width: 7.5rem;
  height: inherit;
  display: flex;
  flex-direction: column;
  background-color: transparent;
}
.container .player .playerContent .lyrics .max_cover {
  width: 7.5rem;
  flex: auto;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
}
.container .player .playerContent .lyrics .music_subjoin {
  width: 7.5rem;
  position: relative;
  background-color: transparent;
}
.container .player .playerContent .lyrics .music_subjoin .max-progress {
  position: absolute;
}
.container .player .playerContent .lyrics .music_subjoin .max-music-tip {
  width: 100%;
  height: 1.5rem;
  line-height: 1.5rem;
  position: absolute;
  left: 0;
  top: 5%;
  display: flex;
  flex-direction: row;
}
.container .player .playerContent .lyrics .music_subjoin .max-music-tip .tip-love {
  flex: 1;
  height: 1.5rem;
  text-align: center;
  line-height: 1.5rem;
}
.container .player .playerContent .lyrics .music_subjoin .max-music-tip .tip-love .icon-maxPlayer-love {
  width: 0.8rem;
  height: 0.8rem;
  vertical-align: middle;
}
.container .player .playerContent .lyrics .music_subjoin .max-music-tip .tip-title {
  flex: 3;
  text-align: center;
  color: #fff;
  font-size: 0.4rem;
}
.container .player .playerContent .lyrics .music_subjoin .max-music-tip .tip-title .titleText {
  height: 0.8rem;
  line-height: 1.2rem;
}
.container .player .playerContent .lyrics .music_subjoin .max-music-tip .tip-title .author {
  height: 0.7rem;
  line-height: 0.7rem;
  font-size: 0.24rem;
  color: #d4d4d3;
}
.container .player .playerContent .lyrics .music_subjoin .max-music-tip .tip-remark {
  flex: 1;
  position: relative;
  text-align: center;
}
.container .player .playerContent .lyrics .music_subjoin .max-music-tip .tip-remark span {
  position: absolute;
  height: 20px;
  line-height: 20px;
  top: 0.41rem;
  right: 0.3rem;
  background-color: transparent;
  color: #fff;
  text-align: right;
}
.container .player .playerContent .lyrics .music_subjoin .max-music-tip .tip-remark .icon-maxPlayer-comment {
  width: 0.42rem;
  height: 0.42rem;
  vertical-align: middle;
}
.container .player .playerContent .lyrics .lyrics_text {
  width: 7.5rem;
  color: #fff;
  font-size: 0.30rem;
  text-align: center;
}
.container .player .playerControl {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: transparent;
  transition: all 80ms ease-out;
  z-index: 110;
  pointer-events: none;
}
.container .player .minControl .progress {
  width: 100%;
  height: 0.04rem;
  position: relative;
  opacity: 0.8;
}
.container .player .minControl .progress .buffer {
  position: absolute;
  width: 100%;
  height: 0.04rem;
  top: 0;
  left: 0;
  z-index: 110;
  background-color: #fec4aa;
  transform: translate3d(-100%, 0, 0);
}
.container .player .minControl .progress .progress_handle {
  position: absolute;
  width: 100%;
  height: 0.04rem;
  top: 0;
  left: 0;
  z-index: 111;
  background-color: #f60;
  opacity: 0.6;
  transform: translate3d(-100%, 0, 0);
}
.container .player .minControl .musicInfo {
  width: 60%;
  height: 45px;
  position: relative;
  background-color: transparent;
  color: #fff;
  pointer-events: auto;
  z-index: 130;
}
.container .player .minControl .musicInfo .cover {
  width: 1.1rem;
  height: 1.1rem;
  float: left;
  background-color: #71e414;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}
.container .player .minControl .musicInfo .name {
  width: 2.6rem;
  height: 0.7rem;
  line-height: 0.7rem;
  position: absolute;
  font-size: 0.32rem;
  overflow: hidden;
  top: 0;
  left: 1.5rem;
}
.container .player .minControl .musicInfo .author {
  width: 1.6rem;
  height: 0.3rem;
  line-height: 0.3rem;
  position: absolute;
  opacity: 0.7;
  top: 0.65rem;
  left: 1.5rem;
}
.container .player .minControl .control {
  width: 100%;
  height: 1.14rem;
  line-height: 1.14rem;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 120;
  background-color: transparent;
  pointer-events: auto;
}
.container .player .maxControl {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: transparent;
  visibility: hidden;
  pointer-events: auto;
}
.container .player .maxControl .maxControl_content {
  width: 100%;
  height: 1.34765rem;
  position: absolute;
  top: 25%;
  display: flex;
}
.container .player .maxControl .maxControl_content .div {
  height: inherit;
}
.container .player .maxControl .maxControl_content .s_type {
  flex: 1;
}
.container .player .maxControl .maxControl_content .s_type .icon-maxPlayer-random {
  width: 0.4rem;
  height: 0.4rem;
  margin-top: 27%;
  margin-left: 30%;
  color: #fff;
}
.container .player .maxControl .maxControl_content .s_btn {
  flex: 3;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.container .player .maxControl .maxControl_content .s_btn div {
  width: 1.34765rem;
  height: 1.34765rem;
  float: left;
}
.container .player .maxControl .maxControl_content .s_btn .icon-maxPlayer-left {
  width: 0.67rem;
  height: 0.67rem;
  margin-top: 25%;
  color: #fff;
}
.container .player .maxControl .maxControl_content .s_btn .icon-player-right {
  width: 0.67rem;
  height: 0.67rem;
  margin-top: 25%;
  margin-right: 0;
  float: right;
  color: #fff;
}
.container .player .maxControl .maxControl_content .s_btn .icon-player-pause {
  width: 1.34765rem;
  height: 1.34765rem;
  color: #fff;
}
.container .player .maxControl .maxControl_content .s_more {
  flex: 1;
}
.container .player .maxControl .maxControl_content .s_more .icon-maxPlayer-more {
  width: 0.4rem;
  height: 0.4rem;
  float: right;
  margin-top: 27%;
  margin-right: 30%;
}
/*svg*/
#min_play {
  width: 1rem;
  height: 1rem;
  text-align: center;
  float: right;
  margin-right: 0.4rem;
  z-index: 130;
  pointer-events: auto;
}
.icon-pause {
  width: 0.4rem;
  height: 0.4rem;
  vertical-align: middle;
  color: #fff;
}
.max-player {
  width: 1.34765rem;
  height: 1.34765rem;
  color: #fff;
}
.icon-player {
  width: 0.4rem;
  height: 0.4rem;
  vertical-align: middle;
  color: #fff;
}
#min_next {
  width: 1rem;
  height: 1rem;
  margin-right: 0.4rem;
  color: #fff;
  float: right;
  text-align: center;
  pointer-events: auto;
}
.icon-player-right {
  width: 0.4rem;
  height: 0.4rem;
  margin: 0;
  vertical-align: middle;
}
.main-sos {
  width: 100%;
  height: 100%;
}
.main-sos .main-sos-head {
  width: 100%;
  height: 1rem;
  background-color: #eee;
  display: flex;
  flex-direction: row;
}
.main-sos .sos-head-userPhoto {
  height: 1rem;
  width: 1.4rem;
}
.main-sos .sos-head-userPhoto span {
  display: block;
  width: 0.74rem;
  height: 0.74rem;
  border-radius: 100%;
  background-color: transparent;
  margin: 0 auto;
  margin-top: 0.12rem;
  background-image: url(../img/usr100.gif);
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
}
.main-sos .sos-mid-tip {
  height: 1rem;
  line-height: 1rem;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex: auto;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 0.32rem;
  font-weight: 600;
}
.main-sos .sos-mid-tip li {
  flex: 1;
}
.main-sos .sos-search {
  height: 1rem;
  line-height: 1rem;
  width: 1.2rem;
  text-align: center;
}
.main-sos .sos-search .sos-search {
  width: 0.5rem;
  height: 0.5rem;
  vertical-align: middle;
  color: #000000;
}
.main-sos > ul {
  list-style: none;
  width: 22.5rem;
  height: 100%;
  color: #000;
  padding: 0;
  margin: 0;
  transform: translate3d(-7.5rem, 0, 0);
}
.main-sos > ul li {
  width: 7.5rem;
  height: 85%;
  float: left;
}
.main-sos .myMusic {
  background-color: #F07575;
}
.main-sos .referrals {
  background-color: #50484b;
  overflow-y: scroll;
  overflow-x: hidden;
  /*首页banner*/
}
.main-sos .referrals .v_cont {
  width: 7.5rem;
  height: 6000px;
}
.main-sos .referrals .ref_banner {
  width: 7.5rem;
  height: 3.08rem;
  position: relative;
}
.main-sos .referrals .ref_banner .swiper-container {
  height: 3.08rem;
  width: 100%;
}
.main-sos .referrals .ref_banner .swiper-container img {
  width: 100%;
  height: 100%;
}
.main-sos .referrals .ref_banner .pagination {
  position: absolute;
  left: 0;
  text-align: center;
  bottom: 5px;
  width: 100%;
  z-index: 100;
}
.main-sos .referrals .ref_banner .swiper-pagination-switch {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background: #d2d1ce;
  margin: 0 3px;
  cursor: pointer;
}
.main-sos .referrals .ref_banner .swiper-active-switch {
  background: #fff;
}
.main-sos .referrals .ref_topLinks {
  width: 7.5rem;
  height: 1.70rem;
  line-height: 2.8rem;
  background-color: #50484b;
  display: flex;
  flex-wrap: nowrap;
  color: #ffffff;
  text-align: center;
}
.main-sos .referrals .ref_topLinks .topLinks_item {
  height: 100%;
  flex: 1;
  font-size: 0.30rem;
  background-repeat: no-repeat;
  background-position: center 20%;
  -webkit-background-size: 37%;
  background-size: 37%;
}
/*首页专辑展示*/
.sq_list {
  width: 7.5rem;
  height: 6.44rem;
  background-color: #fff;
  margin-top: 0.24rem;
}
.sq_list .author {
  width: 7.5rem;
  height: 0.5rem;
  line-height: 0.5rem;
  text-align: center;
  padding-top: 0.5rem;
  color: #b2afae;
}
.sq_list .title {
  width: 7.5rem;
  height: 0.8rem;
  line-height: 0.8rem;
  text-align: center;
  font-size: 0.4rem;
  color: #473f42;
}
.sq_list .sq_list_cont {
  width: 7.5rem;
  height: 4rem;
  list-style: none;
  padding: 0;
  margin: 0;
}
.sq_list .sq_list_cont .item {
  width: 7.5rem;
  height: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  box-sizing: border-box;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-bottom: 0.3rem;
  margin-top: 0.15rem;
  float: left;
}
.sq_list .sq_list_cont .item .album {
  height: 0.9rem;
  width: 0.9rem;
  border-radius: 100%;
  background-color: transparent;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: center center;
  padding: 0;
  margin: 0;
}
.sq_list .sq_list_cont .item .song {
  height: 1rem;
  flex: auto;
  box-sizing: border-box;
  padding-left: 0.25rem;
}
.sq_list .sq_list_cont .item .song .song_title {
  width: 100%;
  height: 0.5rem;
  line-height: 0.5rem;
  font-size: 0.34rem;
  overflow: hidden;
}
.sq_list .sq_list_cont .item .song .song_author {
  font-size: 0.28rem;
}
.sq_list .sq_list_cont .item .more {
  height: 1rem;
  line-height: 1rem;
  width: 1rem;
  text-align: center;
}
.sq_list .sq_list_cont .item .more .sos-more {
  width: 0.4rem;
  height: 0.4rem;
  vertical-align: middle;
}
